/* *{
            background-color: beige;
        } */
        #myinput{
            width: 60%;
            height: 20px;
        }
        #mytable{
            width: 80%;
            /* border: 2px solid red; */
            background-color: azure;
            
            
        }
        .header{
            width: 400px;
            background-color: red;
            text-align: center;
            border-radius: 10px;
            height: 35px;
            
        }
        tr{
            width: 400px;
            text-align: center;
            border: 2px solid red;
            border-radius: 5px;
            
        }
        td{
            width: 400px;
            border: 2px solid rgb(89, 101, 237) ;
            
            text-align: center;
            color: blue;
            padding: 10px;
            border-radius: 5px;
        }